<ion-header text-center>
  <ion-toolbar color="secondary">
    <ion-title>
      Create new ingredient
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label position="floating">Ingredient name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ingredient description</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ingredient price</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-button expand="block" fill="outline">Confirm</ion-button>

</ion-content>