<ion-header>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="form-content">
  <ion-img  src="../assets/img/dragonface2.png"></ion-img>
  <form [formGroup]="registerForm" (ngSubmit)="addUser(registerForm.value)">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.username">
        <div class="error-message" *ngIf="registerForm.get('username').hasError(validation.type) && (registerForm.get('username').dirty || registerForm.get('username').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <div formGroupName="matchingPasswords">
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="passwordForm"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.passwordForm">
          <div class="error-message" *ngIf="registerForm.get('matchingPasswords').get('passwordForm').hasError(validation.type) && (registerForm.get('matchingPasswords').get('passwordForm').dirty || registerForm.get('matchingPasswords').get('passwordForm').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.confirmPassword">
          <div class="error-message" *ngIf="registerForm.get('matchingPasswords').get('confirmPassword').hasError(validation.type) && (registerForm.get('matchingPasswords').get('confirmPassword').dirty || registerForm.get('matchingPasswords').get('confirmPassword').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.matchingPasswords">
        <div class="error-message" *ngIf="registerForm.get('matchingPasswords').hasError(validation.type) && (registerForm.get('matchingPasswords').get('confirmPassword').dirty || registerForm.get('matchingPasswords').get('confirmPassword').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button color="secondary" class="submit-btn" expand="full" type="submit" [disabled]="!registerForm.valid">Registre</ion-button>
  </form>
</ion-content>