<ion-header>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content ion-padding">
  <ion-img  src="../assets/img/dragonface2.png"></ion-img>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="usernameLogin"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.usernameLogin">
        <div class="error-message" *ngIf="loginForm.get('usernameLogin').hasError(validation.type) && (loginForm.get('usernameLogin').dirty || loginForm.get('usernameLogin').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="passwordLogin"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.passwordLogin">
          <div class="error-message" *ngIf="loginForm.get('passwordLogin').hasError(validation.type) && (loginForm.get('passwordLogin').dirty || loginForm.get('passwordLogin').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    <ion-button [color]="buttonColor" class="submit-btn" expand="full" type="submit" [disabled]="!loginForm.valid">Enter</ion-button>
    <div class="ion-text-center ion-padding">
      If you don't have an account, please <a routerLink='/register'> register</a> first!
    </div>
  </form>
</ion-content>