<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ingredient list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)">
    <ion-refresher-content refreshingSpinner="lines-small">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let ingredient of ingredients" [routerLink]="'../ingredient-details/' + ingredient.id" detail>
      <ion-thumbnail slot="end">
        <img src="{{ingredient.imgurl}}">
      </ion-thumbnail>
      <ion-label>
        <h3>Name: {{ingredient.name}}</h3>
        <p>Description: {{ingredient.description}}</p>
        <p>Price: {{ingredient.price}} €</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" class="ion-padding">
    <ion-fab-button color="danger" [routerLink]="['/create-ingredient']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>