<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ingredient details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        {{ingredient.name}}
      <div class="item-note" slot="end">
        {{ingredient.price}}
      </div>
    </ion-item>

    <section class="ion-text-center">
      <ion-button color="primary">Edit</ion-button>
      <ion-button color="danger" (click)="deleteIngredient(ingredient.id)">Delete</ion-button>
    </section>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>