<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Buttons color</ion-label>
    <ion-select value="primary" ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="colorChange">
      <ion-select-option value="primary">Primary</ion-select-option>
      <ion-select-option value="secondary">Secondary</ion-select-option>
      <ion-select-option value="danger">Danger</ion-select-option>
      <ion-select-option value="dark">Dark</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button [color]="buttonColor" class="ion-text-center" expand="full" [disabled]="!colorChange" (click)="changeColor(colorChange)">Apply</ion-button>
</ion-content>
