<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ingredient details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <img src="{{ingredient.imgurl}}" />
      <ion-card-header>
        <ion-card-title>Name: {{ingredient.name}}</ion-card-title>
        <ion-card-subtitle>Price: {{ingredient.price}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Description: {{ingredient.description}}
      </ion-card-content>
    </ion-card>

    <section class="ion-text-center">
      <ion-button color="primary" (click)="updateIngredient(ingredient.id)">Edit</ion-button>
      <ion-button color="danger" (click)="presentAlertConfirm(ingredient.id)">Delete</ion-button>
    </section>
  </ion-list>
</ion-content>